@import "./screensize.scss";

.primary_btn {
    background: #3c33e8;
    border-radius: 0.2rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: none;
    outline: none;
  }


.wheat{
  background: whitesmoke;
}